
<card-wrapper [label]="'Admin'">
    <form class="maint-form" [formGroup]="loginForm" #formDirective="ngForm" (submit)="onSubmit(formDirective)">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <button mat-raised-button color="accent">
        Login
      </button>
    </form>
  </card-wrapper>